<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<% unless @user.schedules.empty? %>
				<table class="schedules" summary="User schedules">
					<%= render @schedules %>
			 	</table>
				<%= will_paginate @schedules %>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %> <br />
			<strong>Schedules</strong> <%= @user.schedules.count %>
		</td>
	</tr>
</table>