<%= form_for @schedule do |s| %>
	<%= render 'shared/error_messages', :object => s.object %>
	<div class="field">
		<%= s.label :title %>
		<%= s.text_field :title %>
	</div>
	<div class="actions">
		<%= s.submit "Submit" %>
	</div>
<% end %>	