<tr>
	<td class="schedule">
		<span class="title"><%= link_to schedule.title, schedule %></span>
		<span class="timestamp">
			Created <%= time_ago_in_words(schedule.created_at) %> ago.
		</span>
	</td>
</tr>