<h1>Edit schedule</h1>

<%= form_for(@schedule) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


