<h1>Your Schedules</h1>

<%= will_paginate %>

<ul class="schedules">
	<% @schedules.each do |schedule| %>
		<li>
			<%= link_to schedule.title, schedule %> | <%= link_to "Edit", edit_schedule_path(schedule) %> | <%= link_to "Delete", @schedule, :method => :delete, :confirm => "Are you sure you would like to delete this schedule?"%>
		</li>
	<% end %>
</ul>

<%= link_to "New Schedule", new_schedule_path %>

<%= will_paginate %>