<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= @schedule.title %>
			</h1>
			<%= pluralize(@events.count, "event") %> 
			<% unless @events.empty? %>
				<table class="events" summary="Schedule events">
					<%= render @events %>
			 	</table>
				<%= will_paginate @events %>
			<% end %>
			<ul>
				<li><%= link_to "Add Event", new_schedule_event_path(@schedule) %></li>
			</ul>
		</td>
	</tr>
</table>