<tr>
	<td class="event">
		<span class="description"><%= link_to( event.description, event_path(event)) %></span>
		<span class="timestamp">
			Occurs in: <%= distance_of_time_in_words_to_now(event.occursAt) %>.
		</span>
	</td>
</tr>