<%= form_for [:schedule, @event] do |e| %>
	<%= render 'shared/error_messages', :object => e.object %>
	<div class="field">
		<%= e.label :description %>
		<%= e.text_field :description %>
	</div>
	<div class="field">
		<%= e.label :occursAt %>
		<%= e.datetime_select :occursAt %>
	</div>
	<div class="action">
		<%= e.submit "Submit" %>
	</div>
<% end %>