<h1>Edit event</h1>

<%= form_for([@event]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :occursAt %><br />
      <%= f.datetime_select :occursAt %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>


