<h1>Your Events for Schedule: <%= @schedule.title %></h1>

<%= will_paginate %>

<ul class="events">
  <% @events.each do |event| %>
      <li>
        <%= link_to event.description, event, :class => "description" %>
        <span class="timestamp">Occurs: <%= time_ago_in_words(event.occursAt) %> ago.</span>
        | <%= link_to "Edit", edit_schedule_event_path(@schedule, event) %>
        | <%= button_to "Delete", event, :method => :delete, :confirm => "Are you sure you would like to delete this event?"%>
      </li>
  <% end %>
</ul>

<%= link_to "New Event", new_schedule_event_path(@schedule) %>

<%= will_paginate %>