<div>
  <span>Schedule: <%= @event.schedule.title %></span>
  <h1>Event: <span class="description"><%= @event.description %></span></h1>
  <span><%= @event.occursAt %></span>
  <%= button_to "Delete", @event, :method => :delete %>
</div>